<br>

<form method="post" action="/products/<%= @product.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @product.name %>"
  />

  <label for="description-field">Description:</label>
  <input
  type="text"
  name="description"
  id="description-field"
  value="<%= @product.description %>"
  />

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @product.quantity.round(0) %>"
  />


  <label for="customer-price-field">Customer Price:</label>
  <input
  type="number"
  step="0.01"
  name="customer_price"
  id="customer-price-field"
  value="<%= @product.customer_price %>"
  />

  <label for="product-type-field">Select a Product Type:</label>
  <select name="product_type" id="product-type">
    <option value="Grocery"<%="selected" if @product.product_type == "Grocery"%>>Grocery</option>
    <option value="Fresh Foods"<%="selected" if @product.product_type == "Fresh Foods"%>>Fresh Foods</option>
    <option value="Frozen Foods"<%="selected" if @product.product_type == "Frozen Foods"%>>Frozen Foods</option>
    <option value="Non-Food"<%="selected" if @product.product_type == "Non-Food"%>>Non-Food</option>
    <option value="Alcohol"<%="selected" if @product.product_type == "Alcohol"%>>Alcohol</option>
  </select>


  <label for="desired-quantity-field">Desired Quantity:</label>
  <input
  type="number"
  name="desired_quantity"
  id="desired-quantity-field"
  value="<%= @product.desired_quantity.round(0) %>"
  />



  <input type='submit' value="Update Product">
</form>
