<h1>Products</h1>



<table cellpadding=10px>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Customer Price</th>
    <th>Product Type</th>
    <th>Desired Quantity</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><a href="products/<%=product.id%>"  "><%= product.name %></a></td>
      <td><%= product.description %></td>
      <td><%= product.quantity.round(0) %></td>
      <td><%= "£ " '%.2f' % product.customer_price %></td>
      <td><%= product.product_type %></td>
      <td><%= product.desired_quantity.round(0) %></td>
    </tr>
  <% end %>
</table>
