

<h1>Product Information: <%= @product.name %></h1>


<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Customer Price</th>
    <th>Product Type</th>
    <th>Desired Quantity</th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.description %></td>
    <td><%= @product.quantity.round(0) %></td>
    <td><%= "£ " '%.2f' % @product.customer_price %></td>
    <td><%= @product.product_type %></td>
    <td><%= @product.desired_quantity.round(0) %></td>
  </tr>
</table>


<br>

<form method="get" action="/products/<%= @product.id %>/editproduct">
  <button>Edit Product</button>
</form>

<br>

<form method="post" action="/products/<%= @product.id %>/delete">
  <input type="submit" value="Delete Product"/>
</form>
