<h1>Products</h1>

<div class="btn-group2">
  <form method="get" action="/products/add_new_product">
    <button>Add New Product</button>
  </form>
</div>

<br>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Product Type</th>
    <th>Quantity</th>
    <th>Desired Quantity</th>
    <th>Customer Price</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><a href="products/<%=product.id%>"  "><%= product.name %></a></td>
      <td><%= product.description %></td>
      <td><%= product.product_type %></td>
      <td><%= product.quantity.round(0) %></td>
      <td><%= product.desired_quantity.round(0) %></td>
      <td><%= "£ " '%.2f' % product.customer_price %></td>
    </tr>
  <% end %>
</table>
