

<h1>Product Information: <%= @product.name %></h1>

<div class="btn-group2">
  <form method="get" action="/products/<%= @product.id %>/editproduct">
    <button>Edit Product</button>
  </form>

  <form method="post" action="/products/<%= @product.id %>/delete">
    <button>Delete Product</button>
  </form>
</div>

<br>

<table cellpadding=5px>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Customer Price</th>
    <th>Product Type</th>
    <th>Desired Quantity</th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.description %></td>
    <td><%= @product.quantity.round(0) %></td>
    <td><%= "£ " '%.2f' % @product.customer_price %></td>
    <td><%= @product.product_type %></td>
    <td><%= @product.desired_quantity.round(0) %></td>
  </tr>
</table>

<br>

<table cellpadding=5px>
  <tr>
    <th>Wholesaler name</th>
    <th>Supply Price</th>
    <th>Profit Margin</th>
  </tr>
  <% result = @product.stock_supply %>
  <% result.each do |stock_supply| %>
  <tr>
    <td><%= stock_supply.wholesaler.wholesaler_name %></td>
    <td><%= "£ " '%.2f' % stock_supply.supply_price %></td>
    <td><%= '%.2f' % (((stock_supply.customer_price.to_f/stock_supply.supply_price.to_f)-1)*100) %>%</td>
  </tr>
  <% end %>
</table>



<br>
