<h1>Stock Order</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Supply Cost</th>
    <th>Customer Price</th>
    <th>Product Type</th>
    <th>Desired Quantity</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><a href="products/<%=product.id%>"  "><%= product.name %></a></td>
      <td><%= product.description %></td>
      <td><%= product.quantity %></td>
      <td><%= product.supply_cost %></td>
      <td><%= product.customer_price %></td>
      <td><%= product.product_type %></td>
      <td><%= product.desired_quantity %></td>
    </tr>
  <% end %>
</table>
