<br>

<form method="post" action="/stock_supply">

  <label for="product-id-field">Select a Product:</label><br>
  <select name="product_id" id="product-id">
    <% products = Product.all %>
    <% products.each do |product| %>
      <option value=<%= product.id %>><%= product.name %></option>
    <% end %>
  </select>

<br>
<br>

<label for="product-id-field">Select a description:</label><br>
<select name="product_id" id="product-id">
  <% products = Product.all %>
  <% products.each do |product| %>
    <option value=<%= product.id %>><%= product.description %></option>
  <% end %>
</select>

<br>
<br>

  <label for="wholesale-id-field">Select a Wholesale Supplier:</label><br>
  <select name="wholesaler_id" id="wholesaler-id">
    <% wholesalers = Wholesaler.all %>
    <% wholesalers.each do |wholesaler| %>
      <option value=<%= wholesaler.id %>><%= wholesaler.wholesaler_name %></option>
    <% end %>
  </select>


<br>
<br>

  <label for="supply-price-field">Supply Price:</label><br>
  <input
    type="number"
    step="0.01"
    name="supply_price"
    id="supply-price-field"
    />

<br>
<br>
<br>

  <div class="btn-group2">
    <form type="submit">
      <button>Add New Supply Product</button>
    </form>
  </div>


</form>
