<br>

<div class="btn-group2">
  <form method="get" action="/stock_supply/add_new_supply_product">
    <button>Add New Supply Product</button>
  </form>
</div>

<br>

<table cellpadding=10px>
  <tr>
    <th>Product</th>
    <th>Product Description</th>
    <th>Wholesale Supplier</th>
    <th>Supply Price</th>
    <th>Customer Price</th>
    <th>Profit Margin</th>
  </tr>
  <% @stock_supply.each do |stock_supply| %>
    <tr>
      <td><a href="stock_supply/<%=stock_supply.product.id%>" ><%= stock_supply.product.name %></td>
      <td><%= stock_supply.product_description %></td>
      <td><%= result = stock_supply.wholesaler.wholesaler_name %></td>
      <td><%= "£ " '%.2f' % stock_supply.supply_price %></td>
      <td><%= "£ " '%.2f' % stock_supply.customer_price %></td>
      <td><%= '%.2f' % (((stock_supply.customer_price.to_f/stock_supply.supply_price.to_f)-1)*100) %>%</td>
    </tr>
  <% end %>
</table>
