<br>

<form method="post" action="/wholesalers/<%= @wholesaler.id %>">
  <label for="wholesaler-name-field">Name:</label><br>
  <input
  type="text"
  name="wholesaler_name"
  id="wholesaler-name-field"
  value="<%= @wholesaler.wholesaler_name %>"
  />

<br><br>

  <label for="contact-name-field">Contact Name:</label><br>
  <input
  type="text"
  name="contact_name"
  id="contact-name-field"
  value="<%= @wholesaler.contact_name %>"
  />

<br><br>

  <label for="email-field">Email:</label><br>
  <input
  type="text"
  name="email"
  id="email-field"
  value="<%= @wholesaler.email %>"
  />

<br><br>

  <label for="phone-field">Phone:</label><br>
  <input
  type="text"
  name="phone"
  id="phone-field"
  value="<%= @wholesaler.phone %>"
  />

<br><br>

  <input type='submit' value="Update wholesaler">
</form>
